<%- include('header.ejs') %>
    
  <div class="content">
    <%=message%>
    <br><br>
    <form action="/movie" method="POST">
      <p>
        <label for="title">Title</label>
        <input id="title" name="title" />
      </p>

      <p>
        <label for="author">Author</label>
        <input id="author" name="author" />
      </p>

      <p>
        <label for="description">Description</label>
        <textarea id="description" name="description"></textarea>
      </p>

      <p>
        <label for="year">Year</label>
        <input id="year" name="year" />
      </p>

      <p>
        <label for="image">Image</label>
        <input id="image" name="image"/>
      </p>

      <input type="submit" class="btn" value="Enviar"/>
    </form>
  </div>